.main-btn{
    border: none;
    background-color: var(--accent-gold);
    color: var(--deep-navy);
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    font-weight: 600;

    transition: background-color 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.main-btn:hover{
    background-color: #a89660;
}